<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
</head>
<body>
    <h1>My gamer website</h1>
    {%if user_name != ""%}
    <h2>Hi, {{user_name}}</h2>
    {% else %}
    <h2>Sign up or Sign in</h2>
    {% endif %}
    
</body>

</html>