<!DOCTYPE html>
<html>
<head>
    <title>My Todo application</title>
    <style>
        linearGradient
    </style>
</head>
<body>
    <h1>Welcome to my todo application</h1>
    <ul>
    {% for x in my_todos %}
        <li>{{x}}</li>
    {%endfor%}
    </ul>
    <form method="post">

    <input name="new_todo">
    <input type="submit">

    </form>
</body>

</html>